/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.frontlogo{
	display: block;
	width: 392;
	height: 92px;
	text-align: center;
	font-size: 3.125em;
	color:white;
	text-shadow: 1px 1px 1px #888;
	text-align: center;
	
	background: #1596cb;
	padding: 5px;
	font-variant:small-caps;
	font-weight: bold;
	white-space: nowrap;


	border-radius: 5px;
	margin: auto;
	box-shadow: inset 5px -2px 5px black;

}

#logowords {
	height: 95%;
	background: #1596cb;
	display: inline-block;
	text-decoration: underline;
}
.FrontIcon{
	height: 200px;
	margin-bottom:-20px;
	box-shadow: none;
}
.jumbotron {
	background:-webkit-gradient(radial, center center, 0, center center, 460, from(#000), to(#1596cb));
	background:-moz-radial-gradient(#000,#1596cb);
}
.middle {

	background: green;
}

.row h2{
	background: #1596cb;
	border-radius: 5px;
	color:white;
	text-shadow: 1px 1px 1px #888;
	text-align: center;
	box-shadow: 2px 3px 5px #888888;
	box-shadow: inset 5px -2px 5px rgba(8,8,8,.20);
	font-variant:small-caps;


}
.row p{
	padding: 10px;

}
.navbar-fixed-top {
height:30px;
}

.makers{
	float:right;
	margin-right: 20px;
}
.thinkers{
	margin-left: 20px;
}
.mission {
	clear: both;
	float: center;
	margin-left: 290px;
}

.navbar-brand a {
	color:white;
}
.col-md-4 h2{
	text-align: left;
	padding-left: 5px;
}

