/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.frontlogo{
	display: block;
	
	border-radius: 5px;
	margin: auto;
}
.jumbotron {
	background: #1596cb;
}
.middle {
	display: block;
	background: green;
}