/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.frontlogo{
	display: block;
	width: 392;
	height: 92px;
	text-align: center;
	font-size: 50px;
	color:white;
	text-shadow: 1px 1px 1px #888;
	text-align: center;
	text-decoration: underline;
	background: #1596cb;
	padding: 0;
	font-variant:small-caps;
	font-weight: bold;


	border-radius: 5px;
	margin: auto;
	box-shadow: inset 5px -2px 5px black;

}
.FrontIcon{
	height: 200px;
	margin-bottom:-20px;
	box-shadow: none;
}
.jumbotron {
	background:-webkit-gradient(radial, center center, 0, center center, 460, from(#000), to(#1596cb));

}
.middle {

	background: green;
}
.container{
	width: 970px !important;
}
.row h2{
	background: #1596cb;
	border-radius: 5px;
	color:white;
	text-shadow: 1px 1px 1px #888;
	text-align: center;
	box-shadow: 2px 3px 5px #888888;
	box-shadow: inset 5px -2px 5px rgba(8,8,8,.20);
	font-variant:small-caps;


}
.row p{
	padding: 10px;

}
.navbar-fixed-top {
height:30px;
}

.makers{
	float:right;
	margin-right: 20px;
}
.thinkers{
	margin-left: 20px;
}
.mission {
	clear: both;
	float: center;
	margin-left: 290px;
}

.navbar-brand a {
	color:white;
}
