<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <%= image_tag 'MakerMatchIcon.png', class: 'frontlogo FrontIcon hidden-xs', alt: 'Maker Match Icon' %>

    <div class="col-md-12 frontlogo visible-xs logowords"><div class="col-md-12 ">Maker Match</div></div>
    <p><div class="col-md-12 frontlogo hidden-xs">Maker Match</div></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-5">
      <h2>Thinkers</h2>
      <p>
        The guide you need for your entire design process. Have an idea, plans or a production ready prototype?
      </p>
      <p>
        <a class="btn btn-default" href="/pages/thinker" role="button">Get your product made &raquo;</a>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <h2>Makers</h2>
      <p>
        You can view the best matches between the thinkers and makers on our platform. Stay connected!
      </p>
      <p>
        <a href="/spaces" class="btn btn-default" role="button">View dashboard &raquo;</a>
      </p>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <h2>Mission Statement</h2>
      <p>
        Maker Match connects people with ideas with people who can make the idea into production bringing the inventions of tomorrow into the reality of today. Our unique approach guides ideas to a competitive marketplace of talented individuals ensuring successful idea development, successful products, and successful makers and makerspaces.
      </p>
    </div>
  </div>

  <hr>

  <%= render 'layouts/footer' %>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
