<footer>
  <p>
    <a href="https://www.facebook.com/maker.match">
      <img src="./asset/facebook.png"></img>
    </a>
    <a href="https://www.linkedin.com/company/maker-match">
      <img src="./asset/linked-in.png"></img>
    </a>
    <a href="https://twitter.com/MakerMatch1">
      <img src="./asset/twitter.png"></img>
    </a> &copy; MakerMatch 2014
  </p>
</footer>
