<footer>
<div class="col-md-12">
  <p>
    <a href="https://www.facebook.com/maker.match">
      <%= image_tag 'facebook.png' %>
    </a>
    <a href="https://www.linkedin.com/company/maker-match">
      <%= image_tag 'linked-in.png' %>
    </a>
    <a href="https://twitter.com/MakerMatch1">
      <%= image_tag 'twitter.png' %>
    </a> &copy; MakerMatch 2014
  </p>
  </div>
</footer>
