<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="./asset/MakerMatchIcon.png" height="50px">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group navbar-brand">
          <a href="/spaces"> Dashboard </a>
          <!--  <input type="text" placeholder="Email" class="form-control"> -->
        </div>
        <div class="form-group navbar-brand">
          N Tesla
          <!--  <input type="password" placeholder="Password" class="form-control"> -->
        </div>
        <div class="form-group navbar-brand">Sign Out </div>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>
